body {
	font-family: 'Poppins-Regular';
}

@font-face {
	font-family: 'LeagueSpartan-Bold';
	src: url('../fonts/LeagueSpartan-Bold.eot');
	src: url('../fonts/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/LeagueSpartan-Bold.woff2') format('woff2'), url('../fonts/LeagueSpartan-Bold.woff') format('woff'), url('../fonts/LeagueSpartan-Bold.ttf') format('truetype'), url('../fonts/LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LeagueSpartan-Medium';
	src: url('../fonts/LeagueSpartan-Medium.eot');
	src: url('../fonts/LeagueSpartan-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/LeagueSpartan-Medium.woff2') format('woff2'), url('../fonts/LeagueSpartan-Medium.woff') format('woff'), url('../fonts/LeagueSpartan-Medium.ttf') format('truetype'), url('../fonts/LeagueSpartan-Medium.svg#LeagueSpartan-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LeagueSpartan-Regular';
	src: url('../fonts/LeagueSpartan-Regular.eot');
	src: url('../fonts/LeagueSpartan-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/LeagueSpartan-Regular.woff2') format('woff2'), url('../fonts/LeagueSpartan-Regular.woff') format('woff'), url('../fonts/LeagueSpartan-Regular.ttf') format('truetype'), url('../fonts/LeagueSpartan-Regular.svg#LeagueSpartan-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'LeagueSpartan-SemiBold';
	src: url('../fonts/LeagueSpartan-SemiBold.eot');
	src: url('../fonts/LeagueSpartan-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/LeagueSpartan-SemiBold.woff2') format('woff2'), url('../fonts/LeagueSpartan-SemiBold.woff') format('woff'), url('../fonts/LeagueSpartan-SemiBold.ttf') format('truetype'), url('../fonts/LeagueSpartan-SemiBold.svg#LeagueSpartan-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../fonts/Poppins-Bold.eot');
	src: url('../fonts/Poppins-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff'), url('../fonts/Poppins-Bold.ttf') format('truetype'), url('../fonts/Poppins-Bold.svg#Poppins-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../fonts/Poppins-SemiBold.eot');
	src: url('../fonts/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff'), url('../fonts/Poppins-SemiBold.ttf') format('truetype'), url('../fonts/Poppins-SemiBold.svg#Poppins-SemiBold') format('svg');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.eot');
	src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff'), url('../fonts/Poppins-Regular.ttf') format('truetype'), url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}


/* EMBLA CAROUSEL */

.embla {
	overflow: hidden;
	margin-bottom: 10px;
}

.embla__container {
	display: flex;
	vertical-align: middle;
}

.embla__slide {
	display: flex;
	flex: 0 0 100%;
	min-width: 0;
	background-color: #191919;
	max-height: 60vh;
}

.embla__slide img {
	object-fit: contain;
}

.embla__dots {
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.embla__dot {
	appearance: none;
	all: unset;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #ccc;
	border: 1px solid #fff;
	margin: 0 1px;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.3s ease;
}

.embla__dot.is-selected {
	background-color: #ae9159;
	transform: scale(1);
}



/* GENERAL STYLES */

::-webkit-scrollbar,
*::-webkit-scrollbar {
	display: none !important;
}

.header-row-wrapper-top {
	display: flex;
	justify-content: center;
	align-items: center;
}

body .header-row-wrapper2 .nav-tabs.capsuled .nav-item .nav-link {
	margin: 0px 4px !important;
}

.header-row-wrapper2 .nav-tabs li {
	margin: 0px 1px !important;
}

.header-row-wrapper2 .nav-tabs li a {
	background: #1f1f1f !important;
	color: #fff !important;
	font-size: 12px !important;
	padding: 5px 2px !important;
	font-family: 'Poppins-SemiBold';
	height: 26px !important;
}

.home-tabs-wrapper .tab-panele-content-body {
	padding: 12px 20px;
}

.tab-panele-content-body p {
	font-size: 14px;
	color: #000;
}

.header-row-wrapper2 .nav-tabs li a.active {
	background: #ae9159 !important;
}

.header-row-wrapper2 {
	float: left;
	width: 100%;
	padding: 22px 0 15px 0;
	background-color: #000;
}

.appHeader.scrolled.bg-primary {
	background: #000000 !important;
}

.appBottomMenu .item.active i.bi,
.appBottomMenu .item.active i.icon,
.appBottomMenu .item.active ion-icon,
.appBottomMenu .item.active strong {
	color: #ae9159 !important;
	font-weight: 500;
}

.appBottomMenu .item.active img {
	filter: invert(64%) sepia(13%) saturate(1344%) hue-rotate(1deg) brightness(90%) contrast(83%);
}

.appBottomMenu .item img {
	width: 26px;
	height: auto;
}

.appHeader .right .headerButton {
	color: #000000 !important;
	background: #fff;
	height: 30px;
	border-radius: 100px;
	padding: 0px !important;
	margin-left: 6px;
	min-width: 30px;
}

.appHeader .right .headerButton ion-icon {
	font-size: 21px !important;
}

.appHeader.scrolled.bg-primary .headerButton {
	color: #ffffff;
}

.appHeader.scrolled.bg-primary.is-active .headerButton {
	color: #000 !important;
}

.slider-home-info-row {
	padding: 7px 22px;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 63px;
}

.slider-home-info-row h2 {
	font-size: 50px;
	color: #fff;
	margin-bottom: 0px;
	line-height: 59px;
	font-family: 'Poppins-Bold';
}

.slider-home-info-row p {
	margin-bottom: 0px;
	font-size: 28px;
	color: #fff;
	margin-top: 14px;
	font-family: 'Poppins-SemiBold';
}

.slider-home-info-row a.theme-btn-1 {
	border: solid 1px #b89855;
	padding: 3px 16px;
	color: #ffffff;
	font-size: 16px;
	border-radius: 3px;
	background: #b89855;
	display: inline-block;
	font-family: 'Poppins-SemiBold';
}

.slider-home-info-right {
	margin-top: 23px;
}

.news-list-home-slider-img-row {
	position: relative;
	overflow: hidden;
}

.news-list-home-slider-img {
	padding-top: 83%;
	background: no-repeat center center / cover;
	position: relative;
}

.news-list-home-slider-img-row .heart-icon {
	position: absolute;
	right: 2px;
	top: 6px;
	cursor: pointer;
}

.news-list-home-slider-img-row .heart-icon .fas.fa-heart {
	font-size: 20px;
	color: #fff;
	box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

.news-list-home-slider-img-row .dates {
	position: absolute;
	right: 0;
	bottom: 0;
	background: #b89855;
	color: #fff;
	text-align: center;
}

.news-list-home-slider-img-row .date {
	margin: 2px 0;
	padding: 0 8px;
	border-right: 1px solid #fff;
	text-transform: uppercase;
}

.news-list-home-slider-img-row .date p {
	margin: 0;
	line-height: 16px;
	font-family: 'LeagueSpartan-Regular';
	font-size: 11px;
}

.news-list-home-slider-img-row .date h5 {
	margin: 0;
	font-size: 15px;
	line-height: 14px;
	font-family: 'LeagueSpartan-SemiBold';
	color: #fff;
}

.news-list-slider-info h3 {
	margin-bottom: 7px;
	font-size: 12px;
	color: #000;
	line-height: 18px;
	font-family: 'LeagueSpartan-Medium';
	font-weight: normal;
}

.news-list-slider-info p {
	margin-bottom: 0px;
	font-size: 11px;
	color: #9c9c9c;
	font-family: 'LeagueSpartan-Medium';
}

.slider-home-info-row:after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 33333;
	left: 0px;
	display: inline-block;
	background-image: linear-gradient(to right, #000000ad, hwb(0deg 100% 0% / 0%));
	top: 0;
}

.slider-home-info-left {
	position: relative;
	z-index: 66666;
	height: 100%;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
}

.appBottomMenu .item strong {
	font-family: 'LeagueSpartan-Medium';
}

.header-large-title .title {
	font-family: 'LeagueSpartan-SemiBold';
	font-size: 38px;
}

.news-list-home-slider-img-row .heart-icon ion-icon {
	font-size: 26px;
	color: #fff;
	filter: drop-shadow(5px 5px 10px #666);
}

.slider-home-info-row a.theme-btn-1 ion-icon {
	vertical-align: middle;
	margin-left: 3px;
	font-size: 16px;
}

#appCapsule {
	float: left;
	width: 100%;
	padding-bottom: 60px;
}

.header-panels {
	float: left;
	width: 100%;
	background-color: #000000;
	padding-bottom: 13px;
	padding-top: 11px;
}

.header-panels .header-panels-row {
	float: left;
	width: 100%;
}

.header-panels .header-panels-row ul {
	padding: 0px;
	margin: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header-panels .header-panels-row ul li {
	display: inline-block;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0px 2px;
}

.header-panels .header-panels-row ul li a {
	background: #1f1f1f;
	display: flex;
	padding: 1px 12px;
	width: 100%;
	text-align: center;
	font-family: 'LeagueSpartan-Medium';
	font-size: 11px;
	color: #fff;
	justify-content: center;
	border-radius: 100px;
}

.header-panels .header-panels-row ul li a ion-icon {
	font-size: 14px;
	margin-right: 4px;
	margin-top: 6px;
}

.header-panels .header-panels-row ul li a.active {
	background: #ae9159;
}

.header-panels .header-panels-row ul li a:hover {
	background: #ae9159;
}

.bg-primary {
	background: #ae9159 !important;
}

.profileBox {
	background: #f6f6f6 !important;
}

.appHeader.scrolled.bg-primary.is-active {
	background: #000000 !important;
}

.header-logo {
	width: 140px;
	margin-top: 15px;
	text-align: center;
	font-size: 10px;
	line-height: 15px;
	text-transform: uppercase;
}

.header-logo img {
	width: 100%;
	height: auto;
	margin-top: 5px;
}

.header-logo span {
	display: block;
	width: 100%;
	font-size: 13px;
	font-weight: 700;
}

.card .card-body {
	padding: 10px 10px !important;
}

.carousel-multiple-wrapper .card {
	position: relative;
	overflow: hidden;
}

.news-list-home-slider-img-row .date:last-child {
	border-right: none;
}

.badge-danger,
a.badge-danger {
	background: #b89855 !important;
}

.appHeader.scrolled.bg-primary.is-active .left .headerButton {
	color: #fff !important;
}

.appHeader .left .menu-bars ion-icon {
	font-size: 38px !important;
}

.header-row-wrapper2 .nav.nav-tabs.capsuled {
	background: none;
	padding: 0px 12px;
}

.header-row-wrapper2 .nav-tabs li a ion-icon {
	font-size: 13px !important;
}

.appHeader .left .headerButton {
	padding: 10px 5px 10px 5px;
}

.appHeader .right {
	right: 15px;
}





.slider-home-info-row h2 {
	font-size: 21px;
	line-height: 29px;
}

.slider-home-info-row p {
	font-size: 15px;
	margin-top: 5px;
}

.slider-home-info-right {
	margin-top: 9px;
}

.slider-home-info-row {
	padding: 7px 22px;
	bottom: 0;
	width: 100%;
	height: 100%;
	padding-bottom: 24px;
}

.header-large-title .title {
	font-size: 30px;
}

.appHeader.scrolled.bg-primary {
	background: #000000 !important;
	min-height: 56px;
}

#appCapsule.home {
	padding-top: 95px !important;
}

/* #appCapsule.social, */
#appCapsule.discover,
#appCapsule.store {
	padding-top: 120px !important;
}



/* PROFILE */

.profile-image {
	width: 125px;
	height: 125px;
	border-radius: 100px;
	border: 2px #fff solid;
	margin: 0 auto 15px auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.profile-head {
	display: block;
	text-align: center;
}

.profile-head .in .name {
	font-weight: bold;
}

.profile-background {
	position: absolute;
	z-index: -1;
	opacity: .4;
	top: -25px;
	left: 0;
	width: 100%;
	height: 25vh;
	min-height: 150px;
	max-height: 500px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.profile-background:after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(249, 249, 249);
	background: linear-gradient(180deg, rgba(249, 249, 249, 0) 0%, rgba(249, 249, 249, 1) 100%);
}

.vehicle-profile-background {
	position: relative;
	opacity: 1;
	top: 0px;
	left: 0;
	width: 100%;
	height: 25vh;
	min-height: 150px;
	max-height: 500px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.vehicle-profile-image {
	width: 60px;
	height: 60px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	border-radius: 100px;
	border: 2px #fff solid;
	margin: 0;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.5);
}

.nav-tabs.lined .nav-item .nav-link {
	height: 45px;
}

.nav.nav-tabs.lined {
	display: flex;
	flex-wrap: nowrap;
	overflow: auto;
}

.nav.nav-tabs.lined>li {
	flex: 0 1 auto;
	list-style: none;
	margin-right: 8px;
}

.nav.nav-tabs.lined>li>a {
	display: inline-block;
	padding: 10px 10px;
	text-align: center;
	white-space: nowrap;
}

.profile-links {
	margin: 20px auto 5px auto;
}

.profile-link {
	display: block;
	width: 100%;
	padding: 6px 5px;
	background-color: #ae9159;
	border-radius: 6px;
	color: #fff;
	margin: 0 auto 12px auto;
	text-align: center;
	font-weight: 500;
	font-size: 14px;
}

.profile-link.dark-bg {
	background-color: #1D1D1B;
}

.profile-link.following {
	background-color: #ababab;
}

.profile-links .profile-links-external {
	gap: 5px;
}

.profile-links .profile-link.social-link {
	background-color: #1d1d1b;
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	line-height: 12px;
	padding: 10px 0;
	margin-bottom: 0px;
}

.profile-links .profile-link.social-link .profile-icon {
	font-size: 20px;
}

.profile-links .profile-link.social-link span {
	display: block;
	width: 100%;
	text-align: center;
	font-size: 10px;
	margin: 3px auto 0 auto;
}

.profile-feed-post {
	display: block;
	width: 32%;
	padding-bottom: 30%;
	margin: 0.5%;
	border-radius: 0px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

.garage-sub-title {
	background-color: #fff;
}


.profile-garage-intro {
	margin: 20px auto;
}

.profile-garage-intro h1 {
	font-size: 20px;
	margin-bottom: 1px;
}

.profile-garage-intro p {
	font-size: 12px;
	line-height: 20px;
}


/* MEDIA POSTS */

.media-post {
	margin-bottom: 30px;
}

.media-post-actions {
	padding: 12px 16px 0px 16px;
	border-top: #e9e9e9 1px solid;
}

.media-post-actions ion-icon {
	font-size: 25px;
	margin-right: 10px;
}

.media-post-content img {
	width: 100%;
	height: auto;
}

.media-post-likecount {
	padding: 0px 16px 0px 16px;
}

.media-post-description strong {
	font-weight: 600;
}

.media-post-description {
	padding: 3px 16px 0px 16px;
	font-size: 14px;
	line-height: 24px;
}

.media-post-readmore {
	display: block;
	width: 100%;
	color: #a6a6a6;
}

.media-post-commentcount {
	padding: 12px 16px 0px 16px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 600;
}

.comments-container {
	padding: 15px 20px 10px 20px;
}

.comments-container .comments-container-header {
	position: relative;
	display: block;
	width: 100%;
	border-bottom: 1px #e9e9e9 solid;
	margin: 0 0 20px 0;
	padding: 0 0 5px 0;
	font-size: 20px;
	text-align: left;
	font-size: 14px;
}

.comments-container .comments-container-header ion-icon {
	position: absolute;
	right: 0px;
	top: 1px;
	font-size: 20px;
}

.comments-container .comments-container-footer {
	margin-top: 20px;
}

.offcanvas.action-sheet.offcanvas-large {
	min-height: 80vh;
	max-height: 80vh;
	overflow: auto;
}

.offcanvas.offcanvas-large ul.listview {
	border-top: 0 !important;
}

.offcanvas.offcanvas-large ul.listview li {
	padding-left: 0;
}

.offcanvas.offcanvas-large ul.listview li ion-icon {
	position: relative;
	top: 4px;
}

.comments-container-footer {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
}

.comments-container-footer .comment-submit-button {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #ae9159;
	padding: 10px 10px 4px 10px;
	color: #fff;
	font-size: 20px;
	border-radius: 10px;
}

.comments-container-footer textarea,
.comments-container-footer input {
	border-radius: 10px;
	font-size: 12px;
	padding-right: 40px;
}

.item .avatar {
	width: 30px;
	height: 28px;
	border-radius: 5px;
	border: 1px #fff solid;
	margin: 0;
	background-size: cover;
	background-position: center center;
}

.media-post-header {
	display: block;
	width: 100%;
	padding: 10px 10px 0px 10px;
	font-size: 13px;
	line-height: 18px;
	margin: 0 0 8px 0;
}

.media-post-header .media-post-avatar {
	width: 35px;
	height: 35px;
	border-radius: 35px;
	border: 2px #fff solid;
	margin: 0 8px 8px auto;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
}

.media-post-header .media-post-user {
	font-weight: 600;
}

.media-post-header .media-post-date {
	font-size: 11px;
}



.social-tabs {
	background-color: #fff;
	padding: 10px;
	margin-top: 20px;
}

.social-tabs .nav-link.active {
	background-color: #ae9159 !important;
	color: #fff !important;
}


.btn-secondary {
	background: #191919 !important;
	border-color: #191919 !important;
}

/* App Landing Page */

.app-landing-page {
	height: 100%;
	width: 100%;
	background-color: #000;
}

.app-landing-page .video-background {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: auto;
	height: 100%;
	min-height: 100%;
	min-width: 100%;
	opacity: .3;
	object-fit: cover;
}

.app-landing-page .app-landing-page-container {
	position: absolute;
	top: 8%;
	left: 10%;
	width: 80%;
	z-index: 100;
}

.app-landing-page .app-landing-page-container .app-landing-page-logo {
	margin: 0 auto;
	display: block;
	width: 90%;
	height: auto;
	max-width: 300px;
}

.app-landing-page .app-landing-page-buttons {
	position: absolute;
	bottom: 30px;
	left: 5%;
	width: 90%;
	z-index: 100;
}

.app-landing-page .app-landing-page-buttons div {
	margin: 0 0 15px 0;
}

.app-landing-page .app-landing-page-buttons .register {
	background-color: #fff !important;
	border-color: #fff !important;
	color: #191919 !important;
}

.btn-primary:hover,
.btn-primary:active {
	background-color: #ae9159 !important;
	border-color: #ae9159 !important;
}

h1 img {
	display: inline-block;
	width: 34px;
	height: auto;
	margin-right: 4px;
}

h1 span,
h2 span {
	color: #ae9159;
	display: block;
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 2px;
}

.signup-welcome-panel {
	width: 85%;
	margin: 20px auto 0 auto;
	text-align: center;
}

/******* Product-Details Page CSS *******/
.product-details-section {
	float: left;
	width: 100%;
}

.product-details-section .product-details-title {
	text-align: center;
	font-size: 27px;
	color: #333333;
	font-family: 'LeagueSpartan-Medium';
	line-height: 34px;
}

.product-details-info-row {
	text-align: center;
	padding: 0px 15px;
	margin-top: 24px;
	margin-bottom: 31px;
	float: left;
	width: 100%;
}

.product-details-section .product-ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

.product-details-section .product-ul ul {
	padding: 0px;
	margin: 0px;
}

.product-details-section .product-ul ul li {
	margin-bottom: 11px;
	font-size: 16px;
	color: #333333;
	list-style: none;
	line-height: 25px;
}

.product-ul ul li ion-icon {
	color: #b89855;
	margin-right: 8px;
	font-size: 22px;
	vertical-align: middle;
}

.product-share-btn {
	float: left;
	width: 100%;
	text-align: center;
}

.product-share-btn a {
	background: #f1f1f1;
	padding: 10px 28px;
	color: #333333;
	display: inline-block;
	font-size: 19px;
	text-transform: uppercase;
}

.product-share-btn a ion-icon {
	margin-right: 8px;
	vertical-align: middle;
}

.product-details-btn-row {
	float: left;
	width: 100%;
	margin-top: 26px;
	display: flex;
	border-top: solid 1px #e3e3e3;
	padding-top: 20px;
}

.product-details-btn-row .product-btn {
	margin-right: 3px;
	width: 50%;
}

.product-btn button.product-button {
	padding: 6px 4px;
	width: 100%;
	float: left;
	font-size: 13px;
	border: none;
	color: #fff;
	background: #b89855;
	border-radius: 5px;
}

.product-btn button.product-button ion-icon {
	margin-right: 3px;
	vertical-align: middle;
}

.product-btn button.product-button.buy-tickets {
	background: #2e2e2e;
}

.product-tab-section {
	float: left;
	width: 100%;
}

.product-tab-section .product-tab-wrapper {
	padding: 0px 15px;
}

.product-tab-wrapper ul.nav {
	background: none;
}

.product-tab-section .product-tab-wrapper ul.nav li a {
	background: #ebebeb !important;
	color: #131313 !important;
	font-size: 10px !important;
	padding: 6px 2px !important;
	margin: 0px !important;
	font-family: 'LeagueSpartan-Medium';
	height: auto !important;
	border-radius: 100px !important;
	box-shadow: none !important;
}

.product-tab-section .product-tab-wrapper ul.nav li a.active {
	background: #ae9159 !important;
	color: #fff !important;
}

.product-tab-content p {
	color: #333333;
	font-size: 13px;
	line-height: 26px;
}

/* STORE */

.card-img-box {
	width: 100%;
	padding-top: 75%;
	background: no-repeat center center / cover;
	position: relative;
}






/******* Event Listing Page CSS *******/
.event-venue-listing {
	float: left;
	width: 100%;
}

.event-venue-listing .listing-details-title {
	text-align: center;
	font-size: 24px;
	color: #333333;
	font-family: 'LeagueSpartan-Medium';
	line-height: 34px;
}

.listing-details-info-row {
	text-align: center;
	padding: 0px 15px;
	margin-top: 24px;
	margin-bottom: 31px;
	float: left;
	width: 100%;
}

.event-venue-listing .listing-ul {
	margin-top: 20px;
	margin-bottom: 20px;
}

.event-venue-listing .listing-ul ul {
	padding: 0px;
	margin: 0px;
}

.event-venue-listing .listing-ul ul li {
	margin-bottom: 11px;
	font-size: 14px;
	color: #333333;
	list-style: none;
	line-height: 25px;
}

.listing-ul ul li ion-icon {
	color: #b89855;
	margin-right: 8px;
	font-size: 22px;
	vertical-align: middle;
}

.listing-share-btn {
	float: left;
	width: 100%;
	text-align: center;
}

.listing-share-btn a {
	background: #f1f1f1;
	padding: 5px 10px;
	color: #333333;
	display: inline-block;
	font-size: 12px;
	text-transform: uppercase;
}

.listing-share-btn a ion-icon {
	margin-right: 8px;
	vertical-align: middle;
}

.listing-details-btn-row {
	float: left;
	width: 100%;
	margin-top: 26px;
	display: flex;
	border-top: solid 1px #e3e3e3;
	padding-top: 20px;
}

.listing-details-btn-row .listing-btn {
	margin-right: 3px;
	width: 50%;
}

.listing-btn button.listing-button {
	padding: 6px 4px;
	width: 100%;
	float: left;
	font-size: 13px;
	border: none;
	color: #fff;
	background: #b89855;
	border-radius: 5px;
}

.listing-btn button.listing-button ion-icon {
	margin-right: 3px;
	vertical-align: middle;
}

.listing-btn button.listing-button.buy-tickets {
	background: #2e2e2e;
}

.listing-tab-section {
	float: left;
	width: 100%;
}

.listing-tab-section .listing-tab-wrapper {
	padding: 0px 15px;
}

.listing-tab-wrapper ul.nav {
	background: none;
}

.listing-tab-section .listing-tab-wrapper ul.nav li a {
	background: #ebebeb !important;
	color: #131313 !important;
	font-size: 12px !important;
	padding: 6px 2px !important;
	margin: 0px !important;
	font-family: 'LeagueSpartan-Medium';
	height: auto !important;
	border-radius: 100px !important;
	box-shadow: none !important;
}

.listing-tab-section .listing-tab-wrapper ul.nav li a.active {
	background: #ae9159 !important;
	color: #fff !important;
}

.listing-tab-content p {
	color: #333333;
	font-size: 13px;
	line-height: 26px;
}






/* Add Posts */

.media-post-write-caption {
	display: block;
	width: 100%;
	padding: 5px 15px;
	border-top: #e9e9e9 1px solid;
}

.media-post-write-caption textarea {
	border: 0;
	background-color: transparent;
	display: block;
	width: 100%;
	font-size: 13px;
}


.badge-primary-zero {
	background-color: #d3d3d3;
}

ion[name="close-circle-outline"] {
	color: #a90000;
}

a.form-group {
	color: inherit;
	font-size: 13px;
	color: #2c2c2c;
}

.change-pass-toggle {
	color: #ae9159;
	text-transform: uppercase;
	margin: 15px 0;
}

/* .collapse-password-form {
	display: none;
} */

.appHeader .right .headerButton.headerSave {
	color: #ae9159 !important;
}

.garage-sub-title {
	background-color: #fff;
}


.image-listview>li .item {
	cursor: pointer;
}

.image-listview>li .item:after {
	background-image: url("data:image/svg+xml,%0A%3Csvg width='10px' height='16px' viewBox='0 0 10 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='Listview' transform='translate(-112.000000, -120.000000)' stroke='%23A1A1A2' stroke-width='2.178'%3E%3Cpolyline id='Path' points='114 122 120 128 114 134'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: center center;
	width: 16px;
	height: 16px;
	content: "";
	position: absolute;
	right: 12px;
	opacity: 0.5;
	top: 50%;
	margin-top: -8px;
}

.profile-garage-intro {
	margin: 20px auto;
}

.profile-garage-intro h1 {
	font-size: 20px;
	margin-bottom: 1px;
}

.profile-garage-intro p {
	font-size: 12px;
	line-height: 20px;
}

.profile-garage-intro .profile-link {
	margin: 0 auto 2px auto;
}


/* SEARCH */
#appCapsule.extra-header-active {
	padding-top: 94px;
}

.extraHeader {
	height: 92px;
	top: 56px;
	width: 100%;
	position: fixed;
	align-items: end;
}

.search-container {
	display: block !important;
	position: absolute;
	width: 95%;
	top: 10px;
	left: 2.5%;
}

.search-box-top input {
	display: block;
	width: 100%;
	background-color: #ededed;
	font-size: 13px;
	border: 0;
	padding: 6px;
	border-radius: 4px;
}


/* SEARCH */
.filter-bar {
	width: 95%;
	margin: 0 15px;
}

.filter-bar .filter-item {
	font-size: 12px;
	background-color: #fff;
	color: #000;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
	padding: 10px 10px;
	border-radius: 100px;
	margin: 0 10px 0px 0;
	text-align: center;
}

.filter-bar .filter-item:hover,
.filter-bar .filter-item.active {
	background-color: #b89855;
	color: #fff;
}

.filter-panel .listview {
	border-bottom: 0px;
}

.filter-panel li {
	font-size: 20px;
}

.filter-panel li:after {
	display: none;
}

.filter-panel li .item.active {
	color: #b89855;
}

.filter-panel li .item:after {
	background: none;
}

.filter-panel li .item.active:after {
	background: #b89855 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmZmZmYiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIyMCA2IDkgMTcgNCAxMiI+PC9wb2x5bGluZT48L3N2Zz4=);
	opacity: 1;
}

.filter-bar span ion-icon {
	position: relative;
	top: 2px;
	margin-left: 4px;

}

.results-count {
	display: block;
	width: 100%;
	margin: 10px 15px 0 15px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.offcanvas.offcanvas-large ul.listview {
	border-top: 0 !important;
}